
    body {
        font-family: "Inter", "Segoe UI", Tahoma, sans-serif;
        margin: 0;
        background-color: #fafafa;
        color: #222;
        line-height: 1.7;
    }


    header {
        background: linear-gradient(to bottom right, #9fe0b6, #f1bfdf);
        color: #000;
        padding: 50px 20px;
        text-align: center;
        border-bottom: 1px solid #d7eadf;
    }

    header h1 {
        margin: 0;
        font-size: 2.8rem;
        font-weight: 600;
        letter-spacing: -1px;
    }

    header p {
        margin-top: 10px;
        font-size: 1.2rem;
        opacity: 0.85;
    }


    nav {
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        padding: 15px;
        text-align: center;
        position: sticky;
        top: 0;
        border-bottom: 1px solid #e6e6e6;
        z-index: 10;
    }

    nav a {
        text-decoration: none;
        color: #333;
        padding: 10px 18px;
        margin: 0 10px;
        border-radius: 20px;
        background: #fff;
        border: 1px solid #e5e5e5;
        font-weight: 500;
        transition: 0.3s ease;
    }

    nav a:hover {
        background: #333;
        color: white;
        border-color: #333;
    }

    section {
        max-width: 900px;
        margin: 50px auto;
        background: rgb(255, 206, 206);
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 6px 20px rgba(0,0,0,0.07);
    }

    h2 {
        font-size: 1.8rem;
        margin-bottom: 15px;
        padding-left: 12px;
        border-left: 5px solid #8dd8ac;
        font-weight: 600;
    }


    .assignment {
        background: #f7f7f7;
        padding: 30px 40px ;
        border-radius: 10px;
        margin-bottom: 18px;
        border: 1px solid #e5e5e5;
        transition: 0.25s ease;
    }

    .assignment:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }

    .assignment h3 {
        margin: 0;
        font-size: 1.3rem;
        color: #2b6b4d;
    }

    .assignment a {
        text-decoration: none;
        color: #2b6b4d;
        font-weight: 600;
    }

    .assignment a:hover {
        text-decoration: underline;
    }


    #contact p {
        font-size: 1.1rem;
    }

.assignment-gif {
    width: 100px;           
    height: 100px;
    object-fit: cover;        
    border-radius: 50%;      
    display: block;
    margin: 0 auto 15px auto; 
    border: 3px solid #8dd8ac; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    transition: transform 0.3s;
}

.assignment-gif:hover {
    transform: scale(1.1); 
}